<div class="home">
  <h2>Welcome to Satisfaction Survey</h2>
</div>

<div class="instruction ui-g-8">
  <p-fieldset legend="How to use?">
   <p> &#8226; The first step is to create a template. Here we can choose which answer options will be available in the event.</p>
   <p> &#8226; After creating the template it is possible to create a tag. It groups the events so that they can be easily searched.</p> 
   <p> &#8226; In the next step we create an event. We give it a title, description, date from, date to and have to select the template and tag that we have created before.</p>
   <p> &#8226; If we want our event to be cyclic, we have to mark the checkbox "Cyclic event". 
        It has also some additional options: </p>
        <p style="text-indent: 5%"> &#8227; "date first stop" - we set the end date of the single events that are included in a cyclic event,</p>
        <p style="text-indent: 5%"> &#8227; "interval" - we choose how often the events should take place,</p>
        <p style="text-indent: 5%"> &#8227; "Select blocked week days" - the days on which the event is not active,</p>
        <p style="text-indent: 5%"> &#8227; a calendar with the table "Date" - we select specific days on which the event is not active.</p>
   <p> &#8226; On the page "event-show" we can see created events and the votes cast after clicking on the event.</p>
  </p-fieldset>
</div>
